[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mkdocs-rss-plugin = "*"
mkdocs-git-authors-plugin = "*"
mkdocs-minify-plugin = "*"

[dev-packages]

[requires]
python_version = "3.11"
